body{
    color: black;
    font-size: 18px;
    padding: 50px 100px;
}

.title{
    text-align: center;
    font-size: 25px;
}

.products{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.products table{
    width: 50%;
    border-collapse: collapse;
}

.products table th,
.products table td{
    padding: 10px;
    border: grey 1px solid;
}

.btn{
    padding: 10px;
    border: black 2px solid;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn_block{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.btn:hover{
    background-color: black;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal {
    background-color: rgb(230, 230, 230);
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin: 5px 15px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.invisible{
    display: none;
}

.add_product_block{
    margin: 30px 50px;
}

.add_product_title{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.add_product_field{
    padding: 10px;
    width: 300px;
    font-size: 20px;
}

.error{
    font-size: 16px;
    color: red;
}
